.search__container {
  margin-right: 30px;
  background-color: #fff;
  height: calc(1.6em + 0.65rem + 2px);
  padding: 0 0.75rem;
  background-clip: padding-box;
  border-radius: 0.25rem;
}
.search__icon {
  width: 25px;
  height: 25px;
  background-image: url("../images/search.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 7px 0;
}

.search__input {
  width: 240px;
  outline: none;
  border: none;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 0%);
}
